nav{
    background-color: blueviolet;
}

#menu1{
  color: white;
}

footer{
    align-content: center;
    align-items: center;
}

#bloc8 {
    align-content: center;
    align-items: center;
    justify-content: center;
}